<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="/assets/Frame.svg" alt="">
    </div>
    <nav class="header-nav">
   <div class="header-nav-item">Главная</div>
      <div class="header-nav-item">О компании</div>
      <div class="header-nav-item">Каталог</div>
    </nav>
  </div>
  <div class="header-right">
    <nav class="header-nav">
      <div class="header-nav-item-right">
        <img class="nav-bar-icon" src="/assets/phone.png" alt="">
        <span>+7 (965) 084-29-29</span>
      </div>
      <div class="header-nav-item-right">
        <img src="/assets/heart.svg" alt="">
      </div>
      <div class="header-nav-item-right">
        <button class="cart-button">
          <img src="/assets/Mask-group.svg" alt="">
          <span>Пусто</span>
        </button>
      </div>
    </nav>
  </div>
  
</div>

<div class="top-bar">
  <div class="top-bar-left">
      <div class="catalogue">
          <img class="catalogue-svg" src="/assets/light.svg" alt="">
          <span>Каталог</span>
      </div>
      <ul class="top-bar-menu">
        <li><a href="#home">Стройматериалы</a></li>
        <li><a href="#news">Инструменты</a></li>
        <li><a href="#contact">Электрика</a></li>
        <li><a href="#about">Интерьер и одежда</a></li>
      </ul>
      <div class="top-bar-left-element">
      </div>
  </div>
  <div class="top-bar-right">
    <div class="search-box">
      <input class="search-bar" type="text" placeholder="Поиск, Например круг зачистной...">
      <button class="srch-btn">
        <img src="/assets/find_icon.svg" alt="">
      </button>
    </div>
    <div class="location">
      <div>
          <img class="banner" src="/assets/map-pin.svg" alt="">
      </div>
      <div>
          <span>Москва</span>
      </div>
    </div>
  </div>
</div>

<div>
  <img style="width: 100%;" src="/assets/баннер.svg" alt="">
</div>

<div class="item-cards">
    <div class="item-cards__pagination">
        <button class="item-cards__pagination_button active-button">1</button>
        <button class="item-cards__pagination_button">2</button>
        <button class="item-cards__pagination_button">3</button>
        <button class="item-cards__pagination_button">4</button>
        <button class="item-cards__pagination_button">5</button>
    </div>

    <div class="item-cards__grid"></div>
</div>